.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.myAlert {
  background-color: paleturquoise;
  width: 250px;
  font-size: 50px;
  border-radius: 50px;
}
